* text=auto
*.js text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.css text eol=lf
*.html text eol=lf
*.png binary
*.xlsx binary
**/.aiven export-ignore
**/.backups export-ignore
**/.test-artifacts export-ignore
**/.vercel export-ignore
**/node_modules export-ignore
